.root {
    width: 100%;
    height: 100%;
    font-size: 110px;
    -unity-font-definition: url("project://database/Assets/Fonts/Font%20Assets/Outfit-Regular%20SDF.asset?fileID=11400000&guid=5ca79f15c435d9c468768628c1e23902&type=2#Outfit-Regular SDF");
}

.top-inset {
    width: 100%;
    height: 7%;
}

.bottom-inset {
    width: 100%;
    height: 4%;
}

.safe-area {
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0%;
    margin-right: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
}
