.root {
    width: 100%;
    height: 100%;
    font-size: 110px;
    -unity-font-definition: url("project://database/Assets/Fonts/Font%20Assets/Outfit-Regular%20SDF.asset?fileID=11400000&guid=5ca79f15c435d9c468768628c1e23902&type=2#Outfit-Regular SDF");
}

.top-inset {
    width: 100%;
    height: 7%;
}

.bottom-inset {
    width: 100%;
    height: 4%;
}

.safe-area {
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0%;
    margin-right: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.scrim {
    width: 100%;
    height: 100%;
    -unity-background-image-tint-color: rgb(55, 55, 55);
    background-color: rgba(4, 8, 19, 0.78);
}
