.popup-container {
    width: 76%;
    height: 30%;
    background-image: url("project://database/Assets/Visuals/Backgrounds/diagonal-gradient.png?fileID=21300000&guid=472306e4f7c67e54a8a042e7077e0014&type=3#diagonal-gradient");
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    align-items: center;
    -unity-background-scale-mode: scale-and-crop;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.98);
}

.round-image {
    background-image: url("project://database/Assets/Visuals/Icons/Dragon/dragon-color-0.5x.png?fileID=21300000&guid=fef0754821ec7374c97c6ed3baa60dda&type=3#dragon-color-0.5x");
    -unity-background-scale-mode: scale-to-fit;
    width: 350px;
    height: 350px;
    border-left-color: rgb(242, 242, 242);
    border-right-color: rgb(242, 242, 242);
    border-top-color: rgb(242, 242, 242);
    border-bottom-color: rgb(242, 242, 242);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.message-title {
    -unity-text-align: middle-center;
    font-size: 80%;
    -unity-font-definition: url("project://database/Assets/Fonts/FontAssets/Outfit-Bold-SDF.asset?fileID=11400000&guid=95ce5fb5eb91d2647b6aa52c09e3bc8c&type=2#Outfit-Bold-SDF");
    color: rgb(242, 242, 242);
    width: 100%;
    height: 20%;
    flex-grow: 1;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.message {
    font-size: 50%;
    -unity-font-definition: url("project://database/Assets/Fonts/FontAssets/Outfit-SemiBold-SDF.asset?fileID=11400000&guid=3ccb137e78966aa49a39850df977b638&type=2#Outfit-SemiBold-SDF");
    color: rgb(242, 242, 242);
    width: 100%;
    -unity-text-align: middle-center;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    padding-top: 0%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    height: 25%;
    overflow: hidden;
}

#PopUp {
    scale: 0.5 0.5;
    opacity: 0;
    transition-property: opacity, scale;
    transition-duration: 250ms, 250ms;
    transition-timing-function: ease-in-out, ease-in-out;
}

#PopUp.is-open {
    scale: 1 1;
    opacity: 1;
}
