.widget {
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

.peeking-jack {
    background-image: url("project://database/Assets/Visuals/Jack/Rounded/peeking.png?fileID=21300000&guid=42e473b3d2a7ce64d905d2cb4ae15337&type=3#peeking");
    -unity-background-scale-mode: scale-to-fit;
    width: 45%;
    height: 25%;
    top: 3%;
}

.widget-container {
    flex-grow: 0;
    width: 100%;
    background-image: url("project://database/Assets/Visuals/Backgrounds/dark-glass.png?fileID=21300000&guid=21c37f3bbba75264281cff8c0c326fd0&type=3#dark-glass");
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 75%;
    align-items: center;
}

.area-image {
    background-image: url("project://database/Assets/Visuals/Pictures/placeholder.png?fileID=21300000&guid=cc00a14089fbcbc48b1ee5977fc4e8a0&type=3#placeholder");
    -unity-background-scale-mode: scale-and-crop;
    height: 35%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-left: 6%;
    width: 88%;
}

.info-container {
    flex-direction: row;
    width: 88%;
    height: 40%;
}

.area-description {
    width: 100%;
    height: 100%;
    -unity-font-definition: url("project://database/Assets/Fonts/Font%20Assets/Outfit-Regular%20SDF.asset?fileID=11400000&guid=5ca79f15c435d9c468768628c1e23902&type=2#Outfit-Regular SDF");
    -unity-text-align: upper-center;
    text-overflow: ellipsis;
    color: rgb(242, 242, 242);
    font-size: 50%;
    white-space: normal;
}

.continue-button {
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0, 140, 54);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    width: 88%;
    flex-grow: 1;
    margin-top: 6%;
    margin-bottom: 6%;
}

.continue-text {
    -unity-font-definition: url("project://database/Assets/Fonts/Font%20Assets/Outfit-Bold%20SDF.asset?fileID=11400000&guid=95ce5fb5eb91d2647b6aa52c09e3bc8c&type=2#Outfit-Bold SDF");
    font-size: 60%;
    -unity-text-align: middle-center;
    color: rgb(7, 13, 30);
}

.continue-icon {
    background-image: url("project://database/Assets/Visuals/Icons/arrow.png?fileID=2800000&guid=45db7c0697174fd4bbc8444b72c260ca&type=3#arrow");
    width: 8%;
    -unity-background-image-tint-color: rgb(7, 13, 30);
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 2%;
    margin-left: 3%;
    -unity-background-scale-mode: scale-to-fit;
}
